<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tgra-mesh-and-texture-lab-base-desktop/src/com/ru/tgra/lab1/desktop/DesktopLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ru.tgra.lab1.desktop.DesktopLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tgra-mesh-and-texture-lab-base-desktop"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:tgra-mesh-and-texture-lab-base-core/assets}"/>
</launchConfiguration>
